# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

tailwind_v4/
.next/
*.md

docs/projects/project_youtube.html
docs/projects/project_multichem.html
docs/figures/youtube_workflow.png

portfolio_blueprint.md